:root {
    --text-color: rgb(73, 62, 62);
    --hover-color: rgb(184, 38, 38);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h2 {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}
button {
    color: #fff;
}

button:hover {
    cursor: pointer;
}

header {
    border-bottom: 2px solid var(--text-color);
}

section {
    padding-top: 30px;
    text-align: center;
    border-bottom: 2px solid var(--text-color);
}

.form-interface {
    display: none;
    place-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.form-interface>.form2 {
    border: 2px solid var(--text-color);
    padding: 20px 30px;
    background-color: #fff;
}

.form2 .cancel{
    display: block;
   background-color: red;
   padding: 5px 10px;
   margin: auto;
}

.container {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px 0;
}

h1 {
    padding: 5px 10px;
    text-transform: uppercase;
    border: 2px solid var(--text-color);
}

h1>a {
   text-decoration: none;
   color: var(--text-color); 
}

h1>a:hover {
    color: var(--hover-color);
}

.header-nav {
    list-style: none;
    display: flex;
}

.header-nav>li {
    margin-right: 20px;
    position: relative;
}

.header-nav>li>a {
    font-size: 22px;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--text-color);
    transition: 0.5s;
}

.header-nav>li>a::after {
    position: absolute;
    content: '';
    left:50%;
    right: 50%;
    bottom: -7px;
    height: 3px;
    background-color: var(--hover-color);
    transition: 0.5s;
}

.header-nav>li>a::before {
    position: absolute;
    content: '';
    left: 50%;
    right: 50%;
    bottom: -7px;
    height: 3px;
    background-color: var(--hover-color);
    transition: 0.5s;
}

.header-nav>li>a:hover {
    color: var(--hover-color);
}

.header-nav>li>a:hover::after {
    right: 0;
}

.header-nav>li>a:hover::before {
    left: 0;
}

.slider {
    position: relative;
    display: flex;
    transition: 1s;
    left: 0;
}

.slider.right {
    left: -100%;
    transition: 1s;
}

.slide-1,
.slide-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    width: 95%;
    min-height: 300px;
}

.slide-2 {
    left: 100%;
}

.wrapper {
    width: 100%;
    margin-top: 100px;
}

.wrapper p {
    text-align: center;
    margin-top: 30px;
}

.wrapper>button {
display: block;
margin: 50px auto;
padding: 10px 30px;
background-color: green;
border-radius: 20px;
}

.buy  {
    min-height: 400px;
}

.buy .form {
    border: 2px solid var(--text-color);
    padding: 20px 30px;
    margin-top: 20px;
}

form>input[type=text],
form>input[type=tel]{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
}

form>input[type=submit] {
    display: block;
    margin: 20px auto;
    padding: 10px;
    background-color: rgb(78, 146, 202);
    color: #fff;
}

form>input[type=submit]:hover {
    cursor: pointer;
}

form>input::placeholder{
    padding: 10px;
    color: rgba(73, 62, 62, 0.5);
}

.switcher {
    display: inline-block;
    margin: 400px 0  20px 50%;
}

.scroll {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid var(--text-color);
    border-radius: 50%;
    margin-left: 10px;
}

.scroll.checked {
    background-color: rgba(73, 62, 62, 0.5);
}

.scroll:hover {
    cursor: pointer;
}

.advantages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.advantage {
    display: flex;
    flex-basis: 40%;
    align-items: center;
    margin-top: 30px;
    transition: 0.5s;
}

.advantage:hover{
    transform: scale(1.2);
}

.advantage>span {
    display: inline-block;
    width: 64px;
    height: 64px;
    background-image: url('./img/images/adv.png');
    background-position: center;
    background-repeat: no-repeat;
}

.advantage-content {
    max-width: 80%;
    padding-left: 10px;
}

.advantage-content>h3 {
    margin-bottom: 10px;
}

.advantage-content>p {
    margin-bottom: 30px;
}

.advantages-section>a {
    display: inline-block;
margin: 50px auto;
padding: 10px 30px;
background-color: green;
border-radius: 20px;
color: #fff;
text-decoration: none;
}